<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>
            About ngBlog
        </mat-card-title>
        <mat-card-subtitle>
            version 0.0.1
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et maiores culpa, eius quasi nam corporis eos facere autem deleniti magnam libero, labore repellat a reprehenderit officia. Doloribus ipsum ducimus consectetur!</p>
    </mat-card-content>
</mat-card>
